<h1>Colour Me Happy</h1>

<p> Click a colour to search images </p>

<form action="/results" method="get" id="red">
  <input type="hidden" name="colour" value="red" />
</form>
<button type="submit" form="red"> red </button>

<form action="/results" method="get" id="pink">
  <input type="hidden" name="colour" value="pink" />
</form>
<button type="submit" form="pink"> pink </button>

<form action="/results" method="get" id="orange">
  <input type="hidden" name="colour" value="orange" />
</form>
<button type="submit" form="orange"> orange </button>

<form action="/results" method="get" id="yellow">
  <input type="hidden" name="colour" value="yellow" />
</form>
<button type="submit" form="yellow"> yellow </button>

<form action="/results" method="get" id="green">
  <input type="hidden" name="colour" value="green" />
</form>
<button type="submit" form="green"> green </button>

<form action="/results" method="get" id="blue">
  <input type="hidden" name="colour" value="blue" />
</form>
<button type="submit" form="blue"> blue </button>

<form action="/results" method="get" id="purple">
  <input type="hidden" name="colour" value="purple" />
</form>
<button type="submit" form="purple"> purple </button>
